.header{
    background-color: rgba(255, 255, 255, 0.616);
    justify-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 10;

    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#body{
    background-color: rgba(211, 211, 211, 0.747);
}

/* Exercícios */

.background_exemplos{
    display: block;
    height: 80px;

    background-color:rgba(255, 255, 255, 0.616);;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}